body {
  margin: 0;
  padding: 0;
  overflow-y: visible; /* default for small screens */
}

/* For screens larger than 900px */
@media screen and (min-width: 901px) {
  body {
    overflow: auto;
  }
}
